body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

h1 {
	font-size: 3rem;
	color: #2c89e7;
}

hr {
	border-color: #2c89e7;
	border-width: 3px;
	max-width: 65px;
}

.buffer {
	height: 50px;
}

.btn {
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn-primary {
	background-color: #65a7ef;
	border-color: #65a7ef;
}

.btn-xl {
	padding: 1rem 2rem;
}